@import "tailwindcss";

/* COLORS */
.primary-color {
    background-color: #FFA63E;
}

.secondary-color {
    background-color: #FFF1D0;
}

.text-light {
    color: #221714;
}

.text-lighter {
    color: #9c7146;
}

.card-light {
    background-color: #FFCB71;
}

.card-lighter {
    background-color: #FFD588;
}