@import "tailwindcss";

/* COLORS */
.primary-color {
    background-color: #FFA63E;
}

.secondary-color {
    background-color: #FFF1D0;
}

.text-light {
    color: #221714;
}

.text-lighter {
    color: #9c7146;
}

.card-light {
    background-color: #FFCB71;
}

.card-lighter {
    background-color: #FFD588;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E4329;
    border-radius: 999px;
    transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #824F30;
}


/* UTILITIES */
.button {
    background-color: #FFA63E;
    color: #64492e;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
}

.button:hover {
    background-color: #FFB561;
}